<h1>New Reply</h1>

<%= form_tag("/posts/#{@post.id}/reply", method: "post") do %>

  <div class="field">
    <%= label_tag(:q, "Body") %>
    <%= text_field_tag "reply[body]" %>
  </div>

  <div class="actions">
    <%= submit_tag("Submit") %>
  </div>
<% end %>
<%= link_to 'Back', replies_path %>
