<main id="show-container">
		<!-- If user avatars are added they will go here as well. -->
	<div class="jumbotron user-container row" id="user-profile">
  <div class="index-profile-avatar">
   <%= image_tag @user.avatar.url(:medium), class: "img-rounded" %>
  </div>
  <div class="index-profile-info">
    <h2> <%= @user.fullname %> </h2>
    <h4> <%= @user.username %> </h4>
    <% if @user == current_user %>
      <span class="profile-links-list">
      	<i class="fa fa-pencil social-bar" aria-hidden="true"></i><%= link_to "Edit Profile", edit_registration_path(@user) %>
      </span>
    <% else %>
      <% if !current_user.follows?(@user) %>
        <form action="/users/<%= @user.id %>/follow" method="post">
          <input type="submit" value="Follow" class="btn">
        </form>
      <% else %>
        <form action="/users/<%= @user.id %>/unfollow" method="post">
          <input type="submit" value="Unfollow" class="btn">
        </form>
      <% end %>
    <% end %>
    <table class="user-info-table">
      <tr class="user-info-label">
        <td>
          <%= link_to "Active Posts", "/users/#{@user.id}" %>
        </td>
        <td>
          <%= link_to 'Followers', "/users/#{@user.id}/followers" %>
        </td>
        <td> 
          <%= link_to 'Following', "/users/#{@user.id}/following" %>
        </td>
      </tr>
      <tr class="user-info-content">
        <td>
          <%= @user.posts.count %> 
        </td>
        <td>
          <%= @user.followers(User).count %>
        </td>
        <td>
          <%= @user.followees(User).count %>
        </td>
      </tr>
    </table>
  </div>
	</div>
  
	<% if @user.posts.length > 0 %>
	<div class="row">
		<div class="container-fluid col-md-12 post-container" id="user-profile-feed">
			<% @user.posts.order("id DESC").each do |post| %>
			  <%= render "/posts/post", post: post %>
			<% end %> 
			</div>
		<% else %>
			<div class="container-fluid col-md-12 post-container" id="user-profile-feed">
				<div class="jumbotron post">
					<h3>
						Sorry, there are no posts.
					</h3>
				</div>
			</div>	
	</div>
		
	<% end %>
</main>


