<main>
		<!-- If user avatars are added they will go here as well. -->
		<div id="user-profile" class="jumbotron col-md-4 user-container">
			<%= image_tag @user.avatar.url(:medium) %>
		  <h2> <%= @user.fullname %> </h2>
		  <h4> <%= @user.username %> </h4>
		  <%= link_to "Active Posts", "/users/#{@user.id}" %> <%= @user.posts.count %> 
		  <br>
		  <%= link_to 'Followers', followers_path %> <%= @user.followers(User).count %>
		  <br>
		  <%= link_to 'Following', following_path %> <%= @user.followees(User).count %>
		  <% if current_user != @user %>
				<% if current_user.follows?(@user) %>
					<%= form_tag("/users/#{@user.id}/unfollow", method: "post") do %>
						<%= submit_tag("Unfollow", class: 'btn') %>
					<% end %> 
				<% else %>
					<%= form_tag("/users/#{@user.id}/follow", method: "post") do %>
						<%= submit_tag("Follow", class: 'btn') %>
					<% end %> 
				<% end %>
			<% else %>
				<br>
				<%= link_to "Edit Profile", edit_user_registration_path(current_user) %>
			<% end %>
	</div>
	<% if @user.posts.length > 0 %>
		<div class="container-fluid col-md-8 post-container" id="user-profile-feed">
		<% @user.posts.each do |post| %>
		  <%= render "/posts/post", post: post %>
		<% end %> 
		</div>
	<% else %>
		<div class="container-fluid col-md-8 post-container" id="user-profile-feed">
			<div class="jumbotron post">
				<h3>
					Sorry, there are no posts.
				</h3>
			</div>
		</div>
	<% end %>
</main>


