<main>
	<div class="container-fluid" id="user-profile">
		<!-- If user avatars are added they will go here as well. -->
		<%= @user.email %>
		<!-- User email should be replaced by username or fullname once they've been added. -->
		<%= @user.username %>
		<%= @user.fullname %>
		<!-- Followers Logic. -->
		<% if current_user != @user %>
			<% if current_user.follows?(@user) %>
				<%= form_tag("/users/#{@user.id}/unfollow", method: "post") do %>
					<%= submit_tag("Unfollow") %>
				<% end %> 
			<% else %>
				<%= form_tag("/users/#{@user.id}/follow", method: "post") do %>
					<%= submit_tag("Follow") %>
				<% end %> 
			<% end %>
		<% end %>
	</div>
	<div class="container-fluid" id="user-profile-feed">
	<% if @user.posts.length > 0 %>
		<ul>
		<% @user.posts.all.each do | post | %>
			<li>
				<!-- Must add username to database for it to appear here. -->
				<b><%= @user.username %></b>
				<p><%= post.body %></p>
				<!-- Add total likes later. -->
				<!-- Possibly add remaining time here? -->
			</li>
		<% end %>
		</ul>
	</div>
	<% end %>
</main>