<div class="container-fluid jumbotron post index-post-div" data-id="<%= post.id %>">
	<div class="row">
		<div class="avatar pull-left">
			<%= image_tag post.user.avatar.url(:thumb), class: "img-circle" %>
		</div>
		<div class="post-info col-md-8">
			<h3><%= link_to post.user.username, "/users/#{post.user.id}" %></h3>
			<p>
		    <%= linkify_hashtags(post.body) %>
		  </p>
		  <% if post.image.url != "/images/original/missing.png" && post.link == nil %>
				<%= image_tag post.image.url(:medium) %>
			<% elsif post.image.url != "/images/original/missing.png" %>
				<div class="hero-feature">
					<% if post.link.include? "youtu" %>
						<iframe src="https://www.youtube.com/embed/<%= YouTubeAddy.extract_video_id(post.link) %>" frameborder="0" allowfullscreen class="youtube-embed"></iframe>
					<% else %>
				    <div class="thumbnail">
				        <%= image_tag post.image.url(:large) %>
				        <div class="caption">
				            <h3><%= link_to post.og_title, post.link %></h3>
				            <p><%= post.og_description %></p>
				        </div>
				    </div>
				  <% end %>
				</div>
		  <% end %>
		  <strong style="display: block; margin-bottom: 5px;">Time Remaining:</strong>
		  <p class="remaining-time-count">		    
			<span style="display: none;"> <%= post.delete_at %> </span>
		  <!-- distance_of_time_in_words(Time.now, post.delete_at) -->
			</p>
			<div class="post-links">
				<%= link_to 'Like', "/posts/#{post.id}/like", method: :post,  remote: true, class: "like" %> <span class="like_count" ><%= post.likers(User).count %></span> |
				<a data-toggle="modal" data-target="#modal-window-<%= post.id %>" data-remote="true" href="/posts/<%= post.id %>/reply">Reply</a>
			  <% if post.user == current_user %> 
			    | <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
			  <% end %>
			  <noscript>
			  	| <a href="/posts/<%= post.id %>">View Post</a>
			  </noscript>
			</div>
		</div>
	</div>
</div>
<div id="modal-window-<%= post.id %>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Reply</h4>
      </div>
      <div class="modal-body">
        <%= render "/replies/new", {:post => post} %> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	
