<p id="notice"><%= notice %></p>

<h1>Newsfeed</h1>
<ul>

<h2> Hi <%= current_user.fullname %> </h2>
<h3> <%= current_user.username %> </h3>

<%= link_to 'Followers', followers_path %>
<br>
<%= link_to 'Following', following_path %>
<br>
<br>
<br>
<% @posts.each do |post| %>
  <li><%= link_to post.body, post %></li>
  <li>Posted: <%= post.delete_at %></li>
  <li>By: <%= link_to post.user.username, "users/#{post.user.id}" %></li>
  <li><%= link_to 'Like', like_path(post), method: :post %> <%= post.likers(User).count %></li>
  <li><%= link_to 'Reply' %></li>
  <% if post.user == current_user %> 
    <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
  <br>
<% end -%>
</ul>