<div class="col-md-4">
  <div class="jumbotron user-container" id="index-profile">
  <div class="index-profile-avatar">
   <%= image_tag current_user.avatar.url(:medium), class: "img-rounded" %>
  </div>
  <div class="index-profile-info">
    <h2> <%= current_user.fullname %> </h2>
    <h4> <%= current_user.username %> </h4>
    <table class="user-info-table">
      <tr class="user-info-label">
        <td>
          <%= link_to "Active Posts", "/users/#{current_user.id}" %>
        </td>
        <td>
          <%= link_to 'Followers', followers_path %>
        </td>
        <td> 
          <%= link_to 'Following', following_path %>
        </td>
      </tr>
      <tr class="user-info-content">
        <td>
          <%= current_user.posts.count %> 
        </td>
        <td>
          <%= current_user.followers(User).count %>
        </td>
        <td>
          <%= current_user.followees(User).count %>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="trending">
 <h2>Trending</h2>
 <hr>
  <% if @trending %>
    <% @trending.each do |trend| %>
      <% if trend.body != "" %>
        <%= link_to truncate(trend.body, length: 40), "/posts/#{trend.id}" %>
        <br>
        Time Left: <%= distance_of_time_in_words(Time.now, trend.delete_at) %>
        <br>
        <br>
      <% else %>
        <%= link_to truncate(trend.og_title, length: 40), "/posts/#{trend.id}" %>
        <br>
        Time Left: <%= distance_of_time_in_words(Time.now, trend.delete_at) %>
        <br>
        <br>
      <% end %>
    <% end %>
  <% end %>
</div>
</div>
<div class="col-md-8 post-container">
<% if @posts.length > 0 %>
   <% @posts.each do |post| %>
    <%= render "post", post: post %>
  <% end %> 
<% else %>
  <div class="jumbotron post">
    <h3>
      Sorry, there are no posts.
    </h3>
  </div>
<% end %>
</div>



