<p id="notice"><%= notice %></p>

<div class="jumbotron col-md-4 user-container">
  <%= image_tag current_user.avatar.url(:medium) %>
  <h2> <%= current_user.fullname %> </h2>
  <h4> <%= current_user.username %> </h4>
  <%= link_to "Active Posts", "/users/#{current_user.id}" %> <%= current_user.posts.count %> 
  <br>
  <%= link_to 'Followers', followers_path %> <%= current_user.followers(User).count %>
  <br>
  <%= link_to 'Following', following_path %> <%= current_user.followees(User).count %>
  <br>
  <%= link_to 'Edit Account', edit_user_registration_path %>
</div>
  
<div class="col-md-8 post-container">
<% if @posts.length > 0 %>
   <% @posts.each do |post| %>
    <div class="jumbotron post">
      <a href="/posts/<%= post.id %>" class="post-link"></a>
      <%= image_tag post.user.avatar.url(:thumb) %>
      <h3><%= link_to post.user.username, "/users/#{post.user.id}" %></h3>

      <p>
        <%= link_to linkify_hashtags(post.body), post_path(post) %>
      </p>

      <p>
        <strong>Time Left:</strong>
        <%= distance_of_time_in_words(Time.now, post.delete_at) %>
      </p>



      <%= link_to 'Like', "/posts/#{post.id}/like", method: :post %> <%= post.likers(User).count %> |
      <%= link_to 'Reply', "/posts/#{post.id}/reply" %>
      <% if post.user == current_user %> 
        | <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %> 
<% else %>
  <div class="jumbotron post">
    <h3>
      Sorry, there are no posts.
    </h3>
  </div>
<% end %>
</div>



