<p id="notice"><%= notice %></p>

<div class="jumbotron col-md-4 user-container">
  <%= image_tag current_user.avatar.url(:medium), class: "img-rounded" %>
  <h2> <%= current_user.fullname %> </h2>
  <h4> <%= current_user.username %> </h4>
  <%= link_to "Active Posts", "/users/#{current_user.id}" %> <%= current_user.posts.count %> 
  <br>
  <%= link_to 'Followers', followers_path %> <%= current_user.followers(User).count %>
  <br>
  <%= link_to 'Following', following_path %> <%= current_user.followees(User).count %>

  <div class="trending user-container">
   <h2>Trending</h2>
    <% if @trending %>
      <% @trending.each do |trend| %>
      <%= link_to trend.body, "/posts/#{trend.id}" %>
      <br>
      Time Left: <%= distance_of_time_in_words(Time.now, trend.delete_at) %>
      <br>
      <br>
      <% end %>
    <% end %>
  </div>

</div>

<div class="col-md-8 post-container user-container">
<% if @posts.length > 0 %>
   <% @posts.each do |post| %>
    <%= render "post", post: post %>
  <% end %> 
<% else %>
  <div class="jumbotron post">
    <h3>
      Sorry, there are no posts.
    </h3>
  </div>
<% end %>
</div>



