<p id="notice"><%= notice %></p>

<h2><%= @post.user.fullname %></h2>
<h3><%= @post.user.username %></h3>


<p>
  <%= linkify_hashtags(@post.body) %>
</p>

<p>
  <strong>Time Left:</strong>
  <%= distance_of_time_in_words(Time.now, @post.delete_at) %>
</p>



<%= link_to 'Like', like_path, method: :post %> <%= @post.likers(User).count %> |
<%= link_to 'Reply', "/posts/#{@post.id}/reply" %> |
<%= link_to 'Back', posts_path %>


<% if @post.replies.length > 0 %>
	<ul>
	<% @post.replies.each do |reply| %>
		<li><%= reply.body %>
		<%= reply.user.username %></li>
	<% end %>
	</ul>
<% end %>
