<p id="notice"><%= notice %></p>

<div class="post-container" style="margin-top: 90px;">
  <%= render "post", post: @post %>
</div>
<div class="reply-container">
	<% if @post.replies.length > 0 %>
		<% @post.replies.each do |reply| %>
		<div class="container-fluid jumbotron post reply">
			<div class="row">
				<div class="avatar pull-left reply-avatar">
					<%= image_tag reply.user.avatar.url(:thumb), class: "img-circle" %>
				</div>
				<div class="post-info col-md-8">
					<h3 class="reply-username"><%= link_to reply.user.username, "/users/#{reply.user.id}" %></h3>
					<p class="reply-par"><%= linkify_hashtags(reply.body) %></p>
					<div class="post-links reply-links">
						<% if reply.user == current_user %>
							<i class="fa fa-trash social-bar" aria-hidden="true"></i><%= link_to 'Delete', "/replies/#{reply.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
</div>

