
<div class="user-auth" id="user-edit-form">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <h2>Personal Info</h2> 
    <div class="field">
      <%= image_tag @user.avatar.url(:medium), class: "img-rounded" %>
    </div>

    <div class="field">
      <%= f.label :avatar, "Upload Profile Picture", class: "btn" %><br />
      <%= f.file_field :avatar, autofocus: true, style: "display: none;" %>
    </div>

    <div class="field">
      <%= f.label :fullname %> <br>
      <%= f.text_field :fullname %>
    </div>

    <div class="field">
      <%= f.label :bio %><br />
      <%= f.text_area :bio, autofocus: true %>
    </div>

    <hr>

    <h2>Profile Settings</h2> 
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>


    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true %>
    </div>


    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <br>
      <i>(leave blank if you don't want to change it)</i><br />
      <br>
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field ">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <hr>

    <h2>Confirm Updates</h2>
    <div class="field">
      <%= f.label :current_password %> <br>
      <i>(we need your current password to confirm your changes)</i> <br />
      <br>
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "btn update-btn" %>
    </div>
  <% end %>
  <br>

  <hr style="border: none; border-bottom: 1px solid #a3a19f;">

  <h3>Delete Account</h3>
  <p><%= button_to "Cancel Account", "/users/#{@user.id}/account", data: { confirm: "Are you sure you want to delete your account? All data will be lost." }, method: :delete, class: "btn delete-acct-btn" %></p>  
</div>
